build
build/*
.vscode
lib/openssl/openssl_static_3.1.5/
lib/openssl/openssl_static_3.0.0/
lib/openssl/openssl_static_3.0.13/
lib/openssl/openssl_share_3.1.5/
lib/openssl/openssl_share_3.0.0
lib/openssl/openssl_share_3.0.13/
lib/openssl/